@import '../constants.css';

#dashboardpage{
    width: 100%;
    height: 100%;
    background-color: var(--light-yellow);
    font-family: 'Poppins', sans-serif;
    display: flex;
}
a{
    text-decoration: none;
}

/* --- Sidebar per la Dashboard --- */
.nav-dashboard{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 155px;
    margin: 40px 0 0px 60px;
    background-color: var(--white);
    border: 1px solid var(--maastricht-blue);
}
.nav-dashboard-title{
    justify-content: center;
    vertical-align: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0px 15px 12px;
}

.link-nav-dashboard{
    display: flex;
    width: 90%;
    height: 40px;
    background-color: var(--relaxing-gray);
    color: var(--white);
    text-decoration: none;
    border: 1px solid var(--maastricht-blue);
    margin: 0 0 0 12px;
    vertical-align: center;
    align-items: center;
    font-size: 14px;
}
.link-nav-dashboard p{
    margin-left: 12px;

}
.link-nav-dashboard.active{
    background-color: var(--maastricht-blue);
    color: var(--firefly);
    font-weight: bold;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: 2px;
}

.dashboard-click-icon{
    margin: 10px 0 0 0;
    font-size: 35px;
}
.icon-gestioneutenti{
    margin-left: 68px;
}
.icon-gestioneprodotti{
    margin-left: 54px;
}


/* Body della pagina dashboard */
.dashboard-container{
    width: 870px;
    height: auto;
    background-color: white;
    margin: 40px 0 170px 80px;
    border: 1px solid var(--maastricht-blue);
    padding: 0;
}

/*Classi condivise*/
.label-dashpage{
    display: block;
    margin-top: 15px;
}