@import '../constants.css';

#pagina-cambio-password{
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: var(--maastricht-blue);
    color: var(--white);
}

.page-info-title{
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0 10px 20px;
}

.form-cambio-password{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 380px;
    margin: 0;
    padding: 0;
    align-items: center;
}

.cambio-password-attuale,
.cambio-password-nuova,
.cambio-password-verifica{
    display: flex;
    flex-direction: column;
    margin: 20px 0px 0px 20px;
    padding: 0;
}

.cambio-password-attuale input:focus,
.cambio-password-nuova input:focus,
.cambio-password-verifica input:focus{
    outline: 3px solid var(--firefly);
}

.label-cambiopassword{
    color: var(--firefly);
    margin-bottom: 5px;
}

.cambio-input-form{
    width: 450px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--maastricht-blue);
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 15px;
}

.submit-cambio-password{
    position: relative;
    display: flex;
    width: 172px;
    height: 40px;
    margin: 15px 0 0 20px;
    background-color: var(--firefly);
    color: var(--maastricht-blue);
    border: none;
    padding: 8px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.submit-cambio-password:hover{
    height: 40px;
    padding: 6px 10px;
    background-color: var(--maastricht-blue);
    color: var(--firefly);
    border: 1px solid var(--firefly);
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
}
