@import '../constants.css';

#pagina-informazioni-personali{
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: var(--maastricht-blue);
    color: var(--white);
}

.page-info-title{
    font-size: 22px;
    font-weight: bold;
    margin: 20px 0 0 20px;
}

.container-informazioni{
    width: 780px;
    height: auto;
    margin: 20px 0 30px 20px;
}

.informazione-personale{
    display: flex;
    width: 100%;
    height: 40px;
    background-color: var(--relaxing-gray);
    color: var(--white);
    justify-content: center;
    align-items: center;
    vertical-align: center;
}
.informazione-specifica p,
.informazione-contenuto p{
    margin-top: 8px;
    margin-left: 8px;
}
.informazione-specifica{
    width: 20%;
    height: 100%;
    border: 2px solid var(--maastricht-blue);
    color: var(--firefly);
    border-right: none;
    letter-spacing: 1px;
}
.informazione-contenuto{
    width: 80%;
    height: 100%;
    border: 2px solid var(--maastricht-blue);
    color: var(--white);
}

/* Informazioni gruppo in alto */
.informazioni-gruppo1{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: var(--white);
}

/* Informazioni gruppo in basso */
.informazioni-gruppo2{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: var(--white);
    margin-top: 20px;
}

.modifica-informazioni-personali{
    width: 100%;
    height: 60px;
}

.btn-modifica-informazioni-personali{
    margin: 25px 0px 0px 350px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    background-color: var(--firefly);
    border: 1px solid var(--maastricht-blue);
    color: var(--maastricht-blue);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
.btn-modifica-informazioni-personali:hover{
    background-color: var(--maastricht-blue);
    color: var(--firefly);
    border: 1px solid var(--firefly);
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
}


/* Form per l'aggiornamento dei dati personali*/
.form-profilo-modifica-dati{
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.form-profilo-modifica-dati label{
    color: var(--firefly);
}

.profilo-modifica-nome{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 80px;
}
.profilo-email-input{
    margin-top: 20px;
}
.profilo-indirizzo-input1{
    display: flex;
    margin-top: 20px;
    gap: 80px;
}
.profilo-indirizzo-input2{
    display: flex;
    margin-top: 20px;
    gap: 80px;
}
.profilo-indirizzo-input3{
    display: flex;
    margin-top: 20px;
    gap: 80px;
}
.profilo-modifica-numero{
    gap: 80px; 
}
.mostra-informazioni-personali{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    gap: 50px;
}

.profilo-half-form{
    width: 210px;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 15px;
    border: none;
    outline: 3px solid var(--maastricht-blue);
}
.profilo-half-form:focus{
    outline: 3px solid var(--firefly);
}
.profilo-full-form{
    width: 500px;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 15px;
    border: none;
    outline: 3px solid var(--maastricht-blue);
}
.profilo-full-form:focus{
    outline: 3px solid var(--firefly);
}

.prf-modifica-cognome{
    display: flex;
    flex-direction: column;
}
.prf-modifica-provincia{
    display: flex;
    flex-direction: column;
}
.prf-modifica-CAP{
    display: flex;
    flex-direction: column;
}
.prf-modifica-numcivico{
    display: flex;
    flex-direction: column;
}



.btn-mostra-informazioni-personali{
    display: block;
    width: 150px;
    height: 40px;
    background-color: var(--firefly);
    color: var(--maastricht-blue) !important;
    border-radius: 4px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 16px;
}
.btn-mostra-informazioni-personali:hover{
    background-color: var(--maastricht-blue);
    color: var(--firefly) !important;
    border: 2px solid var(--firefly);
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    cursor: pointer;
}