@import './constants.css';

#aboutpage{
    width: 100%;
    height: 100%;
    background-color: var(--light-yellow);
    font-family: 'Poppins', sans-serif;
}

/* Chi siamo?*/
.chi-siamo{
    display: flex;
    flex-direction: column;
    width: 750px;
    height: 400px;
    background-color: var(--dark-gray);
    margin: 30px 0 200px 170px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3);
}
.chi-siamo2{
    position: absolute;
    top: 300px;
    right: 170px;
    display: flex;
    width: 400px;
    height: 400px;
    background-color: var(--maastricht-blue);
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3);
    filter: brightness(90%);
    background-image: url('../assets//images//about.png');
    background-size: cover;
    background-position: 85% center;
}
.chi-siamo2::before{
    filter: brightness(70%);
}

.sottotitolo-chi-siamo{
    margin: 30px 0 0px 135px;
    font-size: 32px;
    color: var(--white); 
    font-weight: bold;
    letter-spacing: 2px; 
}
.sottotitolo-chi-siamo span{
    color: var(--firefly);
    filter: brightness(100%);
    letter-spacing: 4px;
    font-size: 36px;
    font-family:cursive;
}
.chi-siamo p{
    color: var(--white);
    text-align: center;
    padding-left: 50px;
    padding-right: 220px;
    font-size: 17px;
    filter: brightness(100%);
}

/*Prima parte, riga 1, "Chi siamo?"*//*
.about-intro{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 260px;
    margin: 60px 0 60px 0;
    background-color: var(--maastricht-blue);
    color: var(--white);
    overflow: hidden;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3);
}
.about-intro::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: brightness(150%);
}

.sottotitolo-chi-siamo{
    margin-top: 8px;
    margin-bottom: -5px;
    font-size: 40px;
    color: var(--white); 
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    filter: brightness(150%);
}
.sottotitolo-chi-siamo span{
    color: var(--firefly);
    filter: brightness(70%);
    letter-spacing: 4px;
    font-size: 43px;
    font-family:cursive;
}

.about-intro p{
    color: var(--white); 
    padding-left: 300px;
    padding-right: 300px;
    font-size: 17px;
    filter: brightness(150%);
}*/


/*Quarta riga*/
.about-riga4{
    align-items: center;
    display: flex;
    width: 100%;
    height: 350px;
    background-color: var(--maastricht-blue);
    color: var(--white);
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3);
}
.responsabile{
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 34%;
    height: 100%;
    margin-top: 35px;
}
.responsabile-info{
    display: flex;
    flex-direction: column;
}
.responsabile-nome{
    font-size: 20px;
    font-weight: bold;
}
.img-responsabile{
    width: 240px;
    height: 240px;
}


/*Seconda riga, frase con font diverso*/
.about-riga2{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 150px;
    margin: 80px 0 80px 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-gray);
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.about-riga2 p{
    font-style: italic;
    font-weight: 300;
    font-size: 20px;
    line-height: 2px;
    letter-spacing: 1px;
    color: var(--white);
}


/*Terza riga*/
.about-riga3{
    display: flex;
    width: 100%;
    height: 600px;
    margin-top: 40px;
    background-color: var(--maastricht-blue);
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3);
}

.riga3-immagini{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}
.riga3-immagine1{
    display: flex;
    width: 500px;
    height: 250px;
    background-color: var(--night);
    margin: 0px 0px 0px 80px;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    margin-top: 35px;
    overflow: hidden;
}
.riga3-immagine1 img{
    object-fit:cover;
    object-position: center;
    max-height: 140%;
    width: auto;
}
.riga3-immagine2{
    display: flex;
    width: 500px;
    height: 250px;
    background-color: var(--night);
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 30px 0px 0px 80px;
    border-radius: 10px;
    overflow: hidden;
}
.riga3-immagine2 img{
    object-fit: cover;
    object-position: center 70%;
    transition: transform 1s ease;
}

.box-obiettivo{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin: 50px 70px 0px 200px;
    text-align: center;
    letter-spacing: 1px;
    border-radius: 20px;
    background-color: var(--maastricht-blue);
    color: var(--white);
}
.box-obiettivo span{
    color: var(--firefly);
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}
.box-obiettivo p{
    font-size: 16px;
}

.sottotitolo-obiettivo{
    font-size: 28px;
    font-weight: bold;
    text-align: center;
}


/*Quinta riga*/
.about-riga5{
    display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 160px;
    margin-top: 100px;
    background-color: var(--dark-gray);
    color: white;
    box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.3);
}
.indirizzi{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}
.orari{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    width: 50%;
    height: 100%;
    margin-left: 50px;
    letter-spacing: 1px;

}
.orari .span-orari,
.indirizzi .span-indirizzi{
    text-align: center;

    font-weight: bold;
    font-size: 18px;
    color: var(--firefly);
}

.orario-negozio{
    margin-left: 135px;
}