@import './constants.css';

#carrello{
    width: 100%;
    height: 100%;
    background-color: var(--light-yellow);
    font-family: 'Poppins', sans-serif;
}

/* --- Carrello vuoto --- */
.emptycart{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
}
.emptycart img{
    width: 150px;
    margin-right: 20px;
}
.emptycart p{
    font-size: 18px;
}
.emptycart-button{
    right: 80px;
    background-color: var(--maastricht-blue);
    color: var(--firefly);
    border: 1px solid var(--firefly);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
}
.emptycart-button:hover{
    background-color: var(--firefly);
    border: 1px solid var(--maastricht-blue);
    color: var(--maastricht-blue);
    border-radius: 4px;
    margin-left: -2px;
    font-family: 'Poppins', sans-serif;
}


/* --- Carrello non vuoto --- */
.notempycart{
    display: flex;
    width: 100%;
    height: auto;
}

    /* Il tuo carrello (colonna di sinistra) */
.il-tuo-carrello{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
    background-color: var(--dark-gray);
    border: 3px solid var(--maastricht-blue);
    margin: 60px 100px 200px 60px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3);
}

.carrello-titolo{
    font-size: 35px;
    color: var(--white);
    font-weight: bold;
    margin: 15px 0px 0px 4%;
}

.divisore-acquisto{
    width: 92%;
    height: 2px;
    background-color: var(--white);
    margin: 10px 0px 20px 4%;
}

.prodotto-carrello{
    display: flex;
    width: 92%;
    height: 180px;
    margin: 10px 0px 20px 4%;
    background-color: var(--yellow-off-white);
    color: var(--night);
}

.immagine-prodotto-carrello{
    display: flex;
    width: 160px;
    height: 160px;
    margin: 10px 0px 0px 10px;
    background-color: var(--maastricht-blue);
    overflow: hidden;  
}

.info-prodotti-carrello-left{
    width: 350px;
    height: 160px;
    margin-top: 10px;
}

.info-prodotti-carrello-left p{
    margin-top: 0px;
    margin-bottom: 8px;
    margin-left: 10px;
    font-size: 16px;
}

.info-nome{
    font-weight: bold;
    color: var(--maastricht-blue);
}
.info-prodotti-carrello-left p.info-carr{
    margin-top: 0px;
    font-size: 14px;
    color: black;
}

.info-prodotti-carrello-right{
    display: flex;
    flex-direction: column;
    width: 155px;
    height: 160px;
    margin-top: 10px;
}

.quantita-prodotto{
    display: flex;
    width: 100%;
    height: 100%;
    margin: -20px 0px 0px 120px;
    font-size: 20px;
    font-weight: bold;
    color: var(--maastricht-blue);
}
.rimuovi-prodotto-carrello{
    display: flex;
    width: 47%;
    height: 20px;
    margin-top: 88px;
    margin-left: 85px;
    cursor: pointer;
    user-select: none;
}
.rimuovi-prodotto-carrello:hover{
    color: red;
}
.rimuovi-prodotto-carrello img{
    width: 13px;
    height: 13px;
    margin-top: 3px;
    margin-right: 2px;
}
.rimuovi-prodotto-carrello span{
    width: 20px;
    height: 20px;
    font-size: 14px;
}

.gestione-quantita{
    display: flex;
    width: 80px;
    height: 70%;
    margin-top: 45px;
    margin-left: 4%;
}
.minus{
    margin-top: 5px;
    cursor: pointer;
}
.minus:hover{
    color: var(--firefly);
}
.textarea-quantita{
    font-family: 'Poppins', sans-serif;
    resize: none;
    border-radius: 4px;
    margin-left: 5px;
    margin-right: 5px;
    width: 30px;
    height: 25px;
    text-align: center;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    line-height: 25px;
}
.plus{
    margin-top: 5px;
    cursor: pointer;
}
.plus:hover{
    color: var(--firefly);
}




    /* Sommario dell'ordine (colonna di destra) */
.sommario-ordine{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 210px;
    border: 3px solid var(--maastricht-blue);
    background-color: var(--dark-gray);
    margin: 60px 49px 0px 0px;
    color: var(--white);
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3);
}

.sommario-subtitle{
    font-size: 18px;
    font-weight: bold;
    color: var(--white);
    margin: 5px 0px 0px 4%;
    font-size: 20px;
}

.costo-totale{
    display: flex;
    margin-left: 4%;
    font-size: 16px;
}

.sommario-costo-totale{
    margin-left: 260px;
    justify-content: right;
    align-items: right;
    text-align: right;
}

.divisore-sommario{
    width: 92%;
    height: 2px;
    background-color: var(--white);
    margin: 35px 0px 16px 4%;
}

.notemptycart-button{
    width: 92%;
    margin: 0px 0px 0px 4%;
    background-color: var(--firefly);
    border: 3px solid var(--maastricht-blue);
    color: var(--maastricht-blue);
    font-size: 18px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    user-select: none;
    font-weight: bold;
}
.notemptycart-button:hover{
    background-color: var(--maastricht-blue);
    border: 2px solid var(--firefly);
    color: var(--firefly);
    font-weight: bold;
}