@import './constants.css';

#catalogo{
    width: 100%;
    height: 100%;
    background-color: var(--light-yellow);
    font-family: 'Poppins', sans-serif;
}

/* Filtro */
#filter{
    display: flex;
    margin-top: 30px;
    margin-left: 54px;
    width: 1241px; /*1349px - 54*2px*/
    height: 220px;
    background-color: var(--dark-gray);
    border: 5px solid var(--night);
    border-radius: 15px;
    color: var(--firefly);
}

/* --- Filtro ricerca --- */
.filter-ricerca{
    display: flex;
    flex-direction: column;
    width: 961px;
    height: 100%;
}

.filtro-superiore,
.filtro-inferiore{
    display: flex;
    width: 100%;
    height: 110px;
}

.nomeprodotto-cercaprodotto,
.prezzo-cercaprodotto,
.categoria-cercaprodotto,
.sottocategoria-cercaprodotto{
    font-size: 16px;
    margin-left: 50px;
    margin-top: 15px;
    margin-bottom: 25px;
}
.colore-cercaprodotto,
.altezza-cercaprodotto,
.lunghezza-cercaprodotto,
.profondita-cercaprodotto{
    font-size: 16px;
    margin-left: 50px;
    margin-bottom: 25px;
}

.nomeprodotto-cercaprodotto input{
    width: 160px;
    height: 30px;
    margin-right: 15px;
    border-radius: 4px;
    text-decoration: none;
    border: none;
    outline: none;
}
.nomeprodotto-cercaprodotto input:focus{
    outline: 3px solid var(--firefly);
}

.input-in-riga{
    display: flex;
}
.input-in-riga input{
    width: 80px;
    height: 30px;
    margin-right: 15px;
    border-radius: 4px;
    text-decoration: none;
    border: none;
    outline: none;
}
.input-in-riga input:focus{
    outline: 3px solid var(--firefly);
}

.categoria-cercaprodotto select,
.sottocategoria-cercaprodotto select{
    width: 200px;
    height: 30px;
    border-radius: 4px;
}
.colore-cercaprodotto select{
    width: 150px;
    height: 30px;
    border-radius: 4px;
}
.categoria-cercaprodotto select:focus,
.sottocategoria-cercaprodotto select:focus,
.colore-cercaprodotto select:focus{
    outline: 3px solid var(--firefly);
}



/* --- Filtro bottone --- */
.filtro-bottone{
    width: 280px;
    height: 100%;
}
.bottone-filtro{
    margin-left: 125px;
    margin-top: 90px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    background-color: var(--firefly);
    color: var(--maastricht-blue);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
.bottone-filtro:hover{
    background-color: var(--maastricht-blue);
    color: var(--firefly);
    border: 1px solid var(--firefly);
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
}

.label-filter{
    display: block;
    margin-top: 15px;
}




/* ---------------------------------------------------------------------- */
#visualizzazione-prodotti{
    display: flex;
    width: 100%;
    height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.ordina-prodotti{
    display: flex;
}

.label-sort{
    margin-right: 10px;
    margin-left: 54px;
}

.ordina-prodotti select{
    width: 200px;
    border-radius: 4px;
}
.ordina-prodotti select:focus{
    outline: 3px solid var(--firefly);
}

.numero-prodotti-disponibili{
    display: left;
    margin-right: 54px;
}



/* ---------------------------------------------------------------------- */
/* Stampa dei prodotti */

.cards-prodotti{
    display: flex;
    flex-wrap: wrap;
    width: 1349px;
    height: auto;
    margin-bottom: 50px;
}
    
.zero-prodotti span{
    padding-top: 15px;
    margin-left: 450px;
    margin-right: auto;
    white-space: nowrap;
    font-size: 20px;
}

.card-prodotto{
    display: flex;
    flex-direction: column;
    margin-left: 54px;
    margin-bottom: 40px;
    width: 270px;
    height: 360px;
}

.prodotto-img{
    display: flex;
    width: 270px;
    height: 270px;
    overflow: hidden;
    text-decoration: none;
}
.prodotto-img img{
    width: 400px;
    height: 270px;
    object-fit: cover;
    object-position: center 70%;
    transition: transform 1s ease;
    cursor: pointer;
}
.prodotto-img:hover img {
    transform: scale(1.1);
    transition: transform 8s ease;
}

.interagisci-prodotto{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 105px;
    height: 50px;
    margin-top: 225px;
    margin-left: 160px;
}
.prodotto-in-wishlist{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    background-color: var(--dark-gray);
    color: white;
    border: 1px solid var(--white);
    border-radius: 50px;
}
.prodotto-in-wishlist:hover{
    background-color: var(--firefly);
    color: var(--maastricht-blue);
    cursor: pointer;
}
.prodotto-in-wishlist.aggiunto{
    background-color: #eb040c;
}
.prodotto-in-carrello{
    display: flex;
    align-items: center;
    justify-content: center;
    /*padding-right: 1px;*/
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: white;
    font-weight: bold;
    background-color: var(--dark-gray);
    border: 1px solid var(--white);
    border-radius: 50px;
}
.prodotto-in-carrello:hover{
    background-color: var(--firefly);
    color: var(--maastricht-blue);
    cursor: pointer;
}
.prodotto-in-carrello.aggiunto{
    /*background-color: #11ac03;*/
    background-color: #eb040c;
}

.prodotto-info{
    font-size: 13px;
    display: flex;
    flex-direction: column;
    height: 90px;
    background-color: var(--dark-gray);
    color: var(--white);
}
.prodotto-info p{
    margin-left: 4px;
}
.info1{
    font-size: 14px;
    margin-top: 2px;
    color: var(--firefly);
    font-weight: bold;
}
.info2{
    position: absolute;
    margin-top: 43px;
}

.info3{
    position: absolute;
    margin-top: 65px;
}

.mostra-altro-button{
    margin-top: -10px;
    margin-bottom: 20px;
    display: flex;
    font-size: 20px;
    background-color: var(--maastricht-blue);
    color: var(--firefly);
    font-family: 'Poppins', sans-serif;
    margin-left: 570px;
    border: 2px solid var(--maastricht-blue);
    cursor: pointer;
}
.mostra-altro-button:hover{
    background-color: var(--firefly);
    color: var(--maastricht-blue);
    border: 2px solid var(--maastricht-blue);

}

.loading-gif{
    width: 130px;
    height: 130px;
    margin-top: -5px;
    margin-left: 600px;
    user-select: none;
}