:root{
    --night: #101315;
    --maastricht-blue: #0C2834;
    --firefly: #FFC300;
    --light-yellow: #fff89d;
    --white: #ffffff;
    --yellow-off-white: #fcfca6;
    --relaxing-gray: #3e454f;
    --dark-gray: #202429;
}