:root{
    --night: #101315;
    --maastrict-blue: #0C2834;
    --firefly: #FFC300;
    /*--light-yellow: #FFD95C;*/
   /* --light-yellow: #fcf6ab;*/
    --light-yellow: #fff89d;
    --white: #ffffff;
}