:root{
    --night: #101315;
    --maastricht-blue: #0C2834;
    --firefly: #FFC300;
    --light-yellow: #fff89d;
    --white: #ffffff;
    --yellow-off-white: #FFFFCC;
    /*--light-yellow: #FFD95C;*/
    /* --light-yellow: #fcf6ab;*/
}