@import './constants.css';

#dashboardpage{
    width: 100%;
    height: 100%;
    background-color: var(--light-yellow);
    font-family: 'Poppins', sans-serif;
}

/* ---------- Gestione utenti ---------- */
#gestione-utenti{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 350px;
    margin-bottom: 45px;
    margin-top: 10px;
}
#gestione-utenti .titolo-form{
    margin-left: 50px;
    font-size: 20px;
    background-color: var(--light-yellow);
    top: -18px;
    padding: 3px 10px;
    position: relative;
    font-weight: bold;
}

.form-gestione-utenti{
    width: 85%;
    height: 250px;
    border: 5px solid var(--night);
    border-radius: 15px;
    margin-left: 7%;
}

.dashboard-input-form{
    width: 390px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--maastricht-blue);
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 15px;
}

.email-aggiorna-ruolo,
.ruolo-aggiorna-ruolo{
    margin-left: 50px;
    margin-top: 20px;
}

.divisore-aggiorna-ruolo{
    display: flex;
    height: 230px;
    width: 3px;
    background-color: var(--night);
    margin-left: 80%;
    margin-top: -183px;
}

.sub-1{
    bottom: 55%;
    left: 83.5%;
}



/* ----------- Gestione prodotti ---------- */
#gestione-prodotti{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-bottom: 45px;
}
#gestione-prodotti .titolo-form{
    margin-left: 50px;
    font-size: 20px;
    background-color: var(--light-yellow);
    top: -18px;
    padding: 3px 10px;
    position: relative;
    font-weight: bold;
}

/* --- Form "Inserisci prodotto" --- */
.form-gestione-inserisci-prodotto{
    width: 85%;
    height: 565px;
    border: 5px solid var(--night);
    border-radius: 15px;
    margin-left: 7%;
    margin-bottom: 75px;
}
.container-form-inserisci-prodotto{
    display: flex;
    width: 100%;
    height: 535px;
    margin-top: -15px;
}
.inserisci-prodotto-colonna-sx{
    width: 457px;
    height: 565px;
}
.inserisci-prodotto-colonna-dx{
    width: 457px;
    height: 565px;
}
.prodotti-input-form{
    width: 320px;
    padding: 6px;
    border: 1px solid var(--maastricht-blue);
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 15px;
}

    /*Colonna sinistra*/
.categoria-inserisci-prodotto{
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.sottocategoria-inserisci-prodotto{
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.nomeprodotto-inserisci-prodotto{
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.nomeset-inserisci-prodotto{
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.descrizione-inserisci-prodotto{
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.colore-inserisci-prodotto{
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.descrizione-textarea{
    width: 350px;
    height: 100px;
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
    resize: none;
}

    /*Colonna destra*/
.prezzo-inserisci-prodotto{
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.quantita-inserisci-prodotto{
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.altezza-inserisci-prodotto{
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.lunghezza-inserisci-prodotto{
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.profondita-inserisci-prodotto{
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.custom-file-upload{
    width: 150px;
    margin-left: 50px;
    margin-top: 56px;
    margin-bottom: 25px;
}



    /*Divisore e bottone*/
.divisore-inserisci-prodotto{
    height: 535px;
    width: 3px;
    margin-top: 0px;
    background-color: var(--night);
}
/*Coordinate bottone "inserisci prodotto"*/
.sub-2{
    position: relative;
    display: block;
    height: 50px;
    margin-top: 230px;
    margin-left: 27px;
}


/* Form "Elimina prodotto" */
.form-gestione-elimina-prodotto{
    width: 85%;
    height: 250px;
    border: 5px solid var(--night);
    border-radius: 15px;
    margin-left: 7%;
}

.divisore-elimina-prodotto{
    display: flex;
    height: 230px;
    width: 3px;
    background-color: var(--night);
    margin-left: 80%;
    margin-top: -183px;
}

.sub-3{ /*Coordinate bottone "elimina prodotto"*/
    bottom: 55%;
    left: 82.8%;
}



/*Classi condivise*/
.label-gestione{
    padding-left: 7%;
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 22px;
    font-weight: bold;
    background-color: var(--night);
    color: var(--firefly);
}
.submit-dashboard{
    position: relative;
    display: flex;
    background-color: var(--maastricht-blue);
    color: var(--firefly);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.submit-dashboard:hover{
    background-color: var(--firefly);
    color: var(--maastricht-blue);
    border: 1px solid var(--maastricht-blue);
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
}

.label-dashpage{
    display: block;
    margin-top: 15px;
}