@import './constants.css';

#dashboardpage{
    width: 100%;
    height: 100%;
    background-color: var(--light-yellow);
    font-family: 'Poppins', sans-serif;
}

/*Gestione utenti*/
#gestione-utenti{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 350px;
    margin-bottom: 25px;
    margin-top: 10px;
}
#gestione-utenti .titolo-form{
    margin-left: 50px;
    font-size: 20px;
    background-color: var(--light-yellow);
    top: -18px;
    padding: 3px 10px;
    position: relative;
    font-weight: bold;
}

.sub-1{
    bottom: 55%;
    left: 83.5%;
}

.email-aggiorna-ruolo,
.ruolo-aggiorna-ruolo{
    margin-left: 50px;
    margin-top: 20px;
}


/*Gestione prodotti*/
#gestione-prodotti{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 650px;
    margin-bottom: 45px;
}
#gestione-prodotti .titolo-form{
    margin-left: 50px;
    font-size: 20px;
    background-color: var(--light-yellow);
    top: -18px;
    padding: 3px 10px;
    position: relative;
    font-weight: bold;
}
.separate{ /*Per separare un form dall'altro, nel caso rientrassero nella stessa categoria*/
    margin-bottom: 50px;
}

.sub-2{ /*Coordinate bottone "inserisci prodotto"*/
    bottom: 55%;
    left: 82.4%;
}

.sub-3{ /*Coordinate bottone "elimina prodotto"*/
    bottom: 55%;
    left: 82.8%;
}

/*Classi condivise*/
.form-gestione{
    width: 85%;
    height: 250px;
    border: 5px solid var(--night);
    border-radius: 15px;
    margin-left: 7%;
}

.label-gestione{
    margin-left: 7%;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: bold;
    color: var(--night);
}

.divisore-gestione{
    display: flex;
    height: 230px;
    width: 3px;
    background-color: var(--night);
    margin-left: 80%;
    margin-top: -183px;
}

.label-gestione{
    margin-left: 7%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
    color: var(--night);
}

.submit-dashboard{
    position: relative;
    display: flex;
    background-color: var(--maastricht-blue);
    color: var(--firefly);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.submit-dashboard:hover{
    background-color: var(--firefly);
    color: var(--maastricht-blue);
    border: 1px solid var(--maastricht-blue);
    border-radius: 4px;
    margin-left: -2px;
    font-family: 'Poppins', sans-serif;
}

.label-dashpage{
    display: block;
    margin-top: 15px;
}

.input-form{
    width: 390px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid var(--maastricht-blue);
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 15px;
}