/*Floating button per tornare alla home*/
.icon-filter-container{
    position: fixed;
    bottom: 0px;
    right: 0px;
    margin-bottom: 20px;
    margin-right: 25px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid var(--firefly);
    background-color: var(--maastricht-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.icon-filter-container:hover{
    background-color: var(--firefly);
    border: 2px solid var(--maastricht-blue);
}
.icon-filter{
    position: absolute;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    padding-top: 10px;
    padding-left: 13px;
    font-size: 30px;
    color: var(--firefly);
}
.icon-filter:hover{
    color: var(--maastricht-blue);
}