@import './constants.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

footer{
    z-index: 1;
    height: 300px;
    /*position: fixed;*/
    margin-left: auto;
    margin-right: auto;
    bottom: 0px;
    margin-bottom: 0;
    width: 100%;
    background-color: var(--maastrict-blue);
    font-family: 'Poppins', sans-serif;
}

/*Parte di sopra - struttura*/
#container{
    width: 100%;
    height: 275px;
    background-color: var(--maastrict-blue);
    display: flex;
}

.foot{
    display: flex;
    justify-content: center;
    color: var(--white);
}

.left-footer,
.right-footer {
    width: 30%;
}

.left-footer{
    align-items: center;
}

.center-footer {
  width: 40%;
  display: flex;
}

.center-one,
.center-two{
    width: 50%;
    height: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
}
.content{
    text-align: center;
    justify-content: center;
    margin-top: 36%;
}

.right-footer{
    display: flex;
    flex-direction: column;
    /*padding-top: 80px;*/
    text-align: center;
}

/*Parte di sopra - contenuto*/
#logo-footer{
    width: 200px;
    height: 100px;
    margin-right: 25px;
}
footer span{
    text-decoration: solid;
    letter-spacing: 0.5px;
    font-size: 18px;
    color: var(--firefly);
    font-size: 20px;
}
.lista-link{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.social-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.social-item{
    size: 70px;
    font-size: 30px;
    margin: 0px 5px;
}

.custom-link{
    color: white;
    text-decoration: none;
}

.custom-link:hover{
    color: var(--light-yellow);
}

/*Parte di sotto*/
.copyright{
    width: 100%;
    height: 24px;
    background-color: var(--maastrict-blue);
    border-top: 1px solid var(--white);
    text-align: center;
}

.copyright-content{
    height: 100%;
    display: flex;
    align-items: center; /* Centra verticalmente  */
    justify-content: center; /* Centra orizzontalmente */
    color: var(--white);
    text-decoration: none;
    font-size: 10px;
}