@import './constants.css';

/*Header per intero*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: 151px; /*150px+1px border*/
  text-align: center;
  background: var(--maastrict-blue);
  color: white;
  font-size: 20px;
  box-shadow: 0 0 3px #000000;
}

/*Top header*/
.top-header{
  background-color: var(--maastrict-blue);
  display: flex;
  justify-content: space-between;
  outline: none;
  border-bottom: 1px solid #ffffff;
  height: 90px;
  width: 100%;
  /*margin: 0px;*/
}

#logo{
  height: 50px;
  width: 100px;
  margin: 20px 0px 0px 20px;
}

/*Search Bar component dentro top header*/
#searchbar {
  position: absolute;
  width: 450px;
  height: 40px;
  margin-top: 24px; /*90-40=50/2=25*/
  border: 1px solid #000;
  border-radius: 15px;
  font-size: 10px;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  align-items: center; /* Aggiunto per centrare verticalmente */
  margin-left: 32%; /* Aggiunto per spostare .search a destra */
}

.search_input,
.search_button{
  background-color: rgb(255, 255, 255);
  border: none;
  outline: none;
}

.search_input{
  padding: 16px;
  width: 85%;
}

.search_button{
  width: 15%;
  height: 100%;
  font-size: 1.5rem;
  padding-right: 10px;
  background-color: var(--firefly);
  color: var(--maastrict-blue);
  display: grid;
  place-content: center;
}

.search_button:hover{
  background-color: var(--maastrict-blue);
  color: var(--firefly);
}

li a{
  color: #f3e9e9;
  text-decoration: none;
}

li a:hover{
  color: var(--firefly);
}

#user-tools{
  margin-top: 34px;/*90-20 (dimensione font)-1(border)=69/2=34...*/
  margin-right: 23px;
}

.user-tool,
.navbar-link,
.dashboard{
  display: inline;
}

.user-tool{
  margin-left: 45px;
  padding-bottom: 10px;
  padding-top: 10px;
}

/*Elementi per i non users (profilo, wishlist, carrello)*/
.user-tool-content{
  display: inline-flex;
  margin-left: 35px;
  align-items: center;
  /*background-color: purple;*/
}
.link{
  display: inline-flex;
}
.user-tools-icons {
  display: inline-flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.icon-user-tool{
  margin-right: 5px;
  margin-top: 1px;
  /*background-color: aqua;*/
}


/* Elementi per gli users */
li.user-tool.user a{
  background-color: var(--firefly);
  color: var(--maastrict-blue);
  margin-left: auto ;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 4px;
}

li.user-tool.user a:hover{
  background-color: var(--maastrict-blue);
  border: 1px solid var(--firefly);
  color: var(--firefly);
  border-radius: 4px;
  margin-left: -2px;
}

/*Bottom header*/
.bottom-header{
  background-color: var(--maastrict-blue);
  height: 60px;
  width: 100%;
}

#navbar {
  display: flex;
  list-style: none;
  align-items: center;
  margin-left: 262px;
  padding: 0px;
}

li.navbar-link a{
  background-color: var(--maastrict-blue);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 45px;
}

li.dashboard a{
  background-color: var(--firefly);
  color: var(--maastrict-blue);
  margin-left: auto ;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 45px;
  border-radius: 4px;
}

.dashboard{
  margin-left: auto ;
  margin-right: 20px;
}

li.dashboard a:hover {
  background-color: var(--maastrict-blue);
  border: 1px solid var(--firefly);
  color: var(--firefly);
  border-radius: 4px;
}

li.navbar-link.active a,
li.user-tool.active a,
li.user-tool-content.active a{
  color: var(--firefly);
}

li.dashboard.active a{
  color: var(--firefly);
  background-color: var(--maastrict-blue);
  border: 1px solid var(--firefly);
}
li.dashboard.active a:hover{
  color: var(--maastrict-blue);
  background-color: var(--firefly);
  border: 1px solid var(--maastrict-blue);
  border-radius: 4px;
}