@import './constants.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#full-page-login{
    margin: 0;
    padding: 0;
    padding-bottom: 55px;
    background-color: var(--light-yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 552px;
    font-family: 'Poppins', sans-serif;
    color: var(--night);
}

#login{
    position: absolute;
    margin-top: 55px;
    border: 6px solid var(--night);
    background-color: var(--maastricht-blue);
    box-shadow: 8px 8px 12px 5px rgba(0, 0, 0, 0.6);
    color: var(--white);
    width: 450px;
    height: 500px;
    border-radius: 20px;
}

/* Titoletto e link */
#login h2{
    font-size: 30px;
    margin-left: 30px;
    color: var(--firefly);
    letter-spacing: 1px;
}

.link-to-signup{
    font-size: 14px;
    margin-left: 30px;
    margin-top: -25px;
}
.link-to-signup span{
    color: var(--firefly);
}

/* Form */
.login-form{
    margin-left: 30px;
}

.label{
    display: block;
}

.email-input{
    margin-top: 20px;
}
.password-input{
    margin-top: 15px;
    margin-bottom: 10px;
}

.input-form{
    width: 390px;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    outline: 3px solid var(--maastricht-blue);
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 15px;
}
.input-form:focus{
    border: none;
    outline: 3px solid var(--firefly);
}


/*Checkbox*/
#myCheckbox,
.checkbox-label{
    cursor: pointer;
}

.checkbox-label{
    font-size: 14px;
}

.crea-account,
.password-dimenticata{
    text-decoration: none;
    color: var(--maastricht-blue);
    font-weight: bold;
    display: inline-block;
}

.crea-account:hover,
.password-dimenticata:hover {
    text-decoration: underline;
}

.password-dimenticata{
    font-size: 14px;
    margin-left: 135px;
    color: var(--firefly) !important;
}


/*Bottone di invio*/
.button-login{
    display: block;
    width: 390px;
    height: 40px;
    margin-top: 15px;
    margin-bottom: 25px;
    background-color: var(--firefly);
    color: var(--maastricht-blue) !important;
    border-radius: 4px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 16px;
}
.button-login:hover{
    background-color: var(--maastricht-blue);
    color: var(--firefly) !important;
    border: 2px solid var(--firefly);
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    cursor: pointer;
}

/*Scritta "oppure"*/
.alternative{
    font-size: 14px;
    margin-left: 168px;
}

/*Google login*/
.google-login{
    display: flex;
    width: 390px;
    height: 40px;
    margin-top: 25px;
    background-color: red;
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid var(--maastricht-blue);
}
.google-login:hover{
    border: 2px solid var(--firefly); /*#00ffff*/
}

.logo-google-login{
    width: 40px;
    height: 40px;
    background-color: var(--white);
    border-radius: 2px 0px 0px 2px;
}
.logo-google{
    width: 30px;
    height: 30px;
    margin: 5px 0px 0px 5px;
}

.span-google-login{
    display: flex;
    width: 350px;
    height: 40px;
    background-color: white;
    color: var(--maastricht-blue);
}

.span-google-login span{
    margin-left: 80px;
    margin-top: 7px;
}
.google-login-btn{
    color: var(--maastricht-blue) !important;
    font-weight: bold;
}