@import './constants.css';

#pagina-prodotto{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: var(--light-yellow);
    font-family: 'Poppins', sans-serif;
}

/* Informazioni del prodotto */
.informazioni-prodotto{
    display: flex;
    width: 100%;
    height: auto;
    margin: 50px 0 100px 0;
}

.immagine-pagina-prodotto{
    display: flex;
    width: 420px;
    height: 420px;
    background-color: indianred;
    margin: 0px 60px 0px 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: center;
    overflow: hidden;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3);
}
.immagine-pagina-prodotto img{
    width: 500px;
    height: 420px;
    object-fit: cover;
    object-position: center 70%;
    transition: transform 1s ease;
}
.immagine-pagina-prodotto:hover img {
    transform: scale(1.1);
    transition: transform 5s ease;
}

/*Gif di caricamento*/
.loading-gif.product-page{
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    margin-top: 130px;
    margin-left: 250px;
    user-select: none;
}

.caratteristiche-prodotto{
    display: flex;
    flex-direction: column;
    width: 650px;
    height: 480px;
    background-color: var(--dark-gray);
    color: var(--white);
    padding-left: 30px;
    padding-right: 30px;
    margin: 0px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3);
}
.page-prod-nome{
    color: var(--firefly);
    font-weight: bold;
    font-size: 22px;
    margin: 20px 0 0 0;
}
.page-prod-set{
    margin: 0 0 0 0;
}
.page-prod-prezzo{
    margin: 10px 0 0 0;
    color: rgb(52, 52, 228);
    font-size: 21px;
}
.dettagli{
    margin: 0 0 0 0;
}
.page-prod-descrizione{
    margin: 30px 0 30px 0;
}
.page-prod-dimensioni{
    margin: 0 0 0 0;
}
.page-prod-colore{
    margin: 0 0 0 0;
}

.nome-caratteristica{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

.page-prod-buttons{
    display: flex;
    width: 100%;
    height: 300px;
}

.page-prod-assistenza{
    display: flex;
    width: auto;
    height: auto;
    margin: 0 0 15px 0;
    padding: 0px;
    justify-content: center;
}
.page-prod-assistenza p{
    font-size: 14px;
    color: var(--white);
    text-decoration: underline;
    padding: 0px;
    margin: 0 0 0 0;
}

.aggiunta-carrello{
    margin: 60px 0 0 200px;
}

.aggiungi-carrello{
    width: 250px;
    height: 55px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    background-color: var(--firefly);
    color: var(--maastricht-blue);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
.aggiungi-carrello:hover{
    background-color: var(--maastricht-blue);
    color: var(--firefly);
    border: 1px solid var(--firefly);
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
}
.rimuovi-carrello{
    width: 250px;
    height: 55px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    background-color: rgb(228, 21, 21);
    color: white;
    font-family: 'Poppins', sans-serif;
    border: 1px solid white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}
.rimuovi-carrello:hover{
    background-color: rgb(236, 161, 161);
    color: var(--maastricht-blue);
    border: 1px solid red;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;   
}



.inside{
    margin-left: 10px;
    margin-top: 65px;
}
.prodotto-in-wishlist.inside.aggiunto{
    background-color: #eb040c;
}


/* Recensioni del prodotto */
.recensioni-prodotto{
    display: flex;
    flex-direction: column;
    width: 1190px;
    height: 300px;
    margin: -40px 0 100px 80px;
}

.recensioni-prodotto-sub1{
    font-weight: bold;
    font-size: 24px;
}

.recensioni-prodotto-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--dark-gray);
}
.recensioni-prodotto-sub2{
    font-size: 18px;
}