@import './constants.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

#full-page{
    position: relative;
    margin: 0;
    padding: 0;
    padding-bottom: 55px;
    background-color: var(--light-yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 552px;
    font-family: 'Poppins', sans-serif;
    color: var(--night);
    overflow: auto;
}

#signup{
    position: absolute;
    margin-top: 55px;
    border: 6px solid var(--night);
    background-color: var(--maastricht-blue);
    box-shadow: 8px 8px 12px 5px rgba(0, 0, 0, 0.6);
    color: var(--white);
    width: 450px;
    height: 500px;
    border-radius: 20px;
}

.signup-img{
    margin-left: 280px;
    position: absolute;
    width: 190px;
    height: 190px;
    transform: rotate(270deg);
}

/* Titoletto e link */
#signup h2{
    font-size: 30px;
    margin-left: 30px;
    color: var(--firefly);
    letter-spacing: 1px;
}

.link-to-login{
    font-size: 14px;
    margin-left: 30px;
    margin-top: -25px;
}
.link-to-login span{
    color: var(--firefly);
}

.accedi{
    text-decoration: none;
    color: var(--maastricht-blue);
    font-weight: bold;
    display: inline-block;
}
.accedi:hover{
    text-decoration: underline;
}

/* Form */
.signup-form{
    margin-left: 30px;
}

.label{
    display: block;
}

.name-inputs{
    margin-top: 20px;
    display: flex;
    gap: 50px;
}

.full-form{
    width: 390px;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 15px;
    border: none;
    outline: 3px solid var(--maastricht-blue);
}
.full-form:focus{
    outline: 3px solid var(--firefly);
}

.half-form{
    width: 170px;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 15px;
    border: none;
    outline: 3px solid var(--maastricht-blue);
}
.half-form:focus{
    outline: 3px solid var(--firefly);
}

.last-name-input{
    position: relative;
    z-index: 1;
}
.passwords-section-input{
    margin-top: 20px;
    display: flex;
    gap: 50px;
}

/*Numero di telefono*/
.phone-number-input{
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    margin-left: 105px;
}

.prefisso-paesi option:before {
    content: attr(data-label) !important;
    display: none;
}

.prefisso-paesi:hover option:before {
    display: inline-block;
}

.prefisso-paesi option {
    padding-left: 5px;
}

/*Bottone*/
.button-signup{
    display: block;
    width: 390px;
    height: 40px;
    margin-top: 20px;
    margin-left: 30px;
    background-color: var(--firefly);
    color: var(--maastricht-blue) !important;
    border-radius: 4px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 16px;
}
.button-signup:hover{
    background-color: var(--maastricht-blue);
    color: var(--firefly) !important;
    border: 2px solid var(--firefly);
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    cursor: pointer;
}